.panel.panel-default
    .panel-heading
        h3.panel-title
            strong Suggested friends from {{$ctrl.fetchedUser.natFullName}}
        button.glyphicon(ng-class="{'glyphicon-chevron-up':!isFriendsSearchHidden, 'glyphicon-chevron-down':isFriendsSearchHidden}" ng-click="isFriendsSearchHidden=!isFriendsSearchHidden")
    .collapse(ng-class="!isFriendsSearchHidden ? 'in' : ''")
        .panel-body
            .friends-list.col-xs-12
                ul.nav.nav-tabs
                    li(
                    ng-repeat='friend in $ctrl.FriendsSearch.friendsList'
                    onclick="event.preventDefault()"
                    ng-click='$ctrl.selectTab($index)'
                    ng-class='{active: $index == $ctrl.FriendsSearch.markerIndexOfClickedFriend }')
                        a(href="# + '{{$ctrl.chosenFriend.id}}'"
                        ng-click="$ctrl.clickedFriend($index)")
                            img(ng-src='{{ friend.picture.thumbnail }}')
        .tab-content.friend-details(id='{{$ctrl.chosenFriend.id}}')
            .tab-pane.active
                h4(ng-if='$ctrl.FriendsSearch.markerIndexOfClickedFriend != null')
                    strong {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].name.title}} {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].name.first}} {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].name.last}}
                    br
                    i.fa.fa-mobile
                    span(ng-cloak) &nbsp {{$ctrl.FriendsSearch.friendsList[$ctrl.FriendsSearch.markerIndexOfClickedFriend].phone}}