#user-map
    .panel.panel-default
        .panel-heading.heading-to-hide
            h3.panel-title
                strong Location
            button.glyphicon(ng-class="$ctrl.isMapHidden ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" ng-click="$ctrl.isMapHidden = !$ctrl.isMapHidden")
        .collapse(ng-class="$ctrl.isMapHidden ? 'in' : ''")
            .panel-body
                .row
                    .col-xs-12
                        ng-map.ng-map(zoom="-1" center="[0,0]")
                            marker(
                            ng-if="$ctrl.fetchedUser.location.coordinates.longitude !== 'noData'"
                            position="[{{$ctrl.fetchedUser.location.coordinates.latitude}},{{$ctrl.fetchedUser.location.coordinates.longitude}}]"
                            icon='/images/fetchedUserMarker.png'
                            title='{{$ctrl.fetchedUser.name.first}} {{$ctrl.fetchedUser.name.last}}'
                            animation='Animation.DROP'
                            )
                            marker(
                            ng-repeat='friend in $ctrl.FriendsSearchService.friendsList'
                            position="[{{friend.location.coordinates.latitude}},{{friend.location.coordinates.longitude}}]"
                            icon="{{ $index == $ctrl.MarkerMapClickService.markerIndexOfClickedFriend ? '/images/activeFriendMarker.png' : '/images/friendsMarker.png' }}"
                            animation="{{ $index == $ctrl.MarkerMapClickService.markerIndexOfClickedFriend ? 'Animation.BOUNCE': '!Animation.BOUNCE'}}"
                            title="CLICK ME!"
                            on-click="$ctrl.clickMarker({{$index}})"
                            )